@model IEnumerable<MahalaxmiMarbal.Models.Table_Product>

@{
    ViewBag.Title = "AllProductsDetails";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
    <div class="row" style="background-color:#343a40;">
        <div class="col-12 col-sm-6 col-md-4">
            @Html.ActionLink("Create New", "AddProduct", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary btn-large " })
        </div>
        <div class="col-12 col-sm-6 col-md-8">
            <h4><b style="font-style:normal; color:white;">PRODUCT DETAILS LIST</b></h4>
        </div>
    </div>
    <br />
    
    <table class="table table-bordered table-hover table-sm" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>

                <th>Action</th>
                <th>Product Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_id)
                </td>
                <td>
                    <a href="/SubProduct/AllSubProductById?id=@item.Product_id">  @Html.DisplayFor(modelItem => item.PName) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "UpdateProduct", new { id = item.Product_id }) |
                    @Html.ActionLink("Details", "ProductDetails", new { id = item.Product_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Product_id })
                </td>
                <td>
                    <a href="/SubProduct/AllSubProductById?id=@item.Product_id">All SubProduct</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
